aiofiles
aiohttp
beautifulsoup4
dnspython
future==0.18.3
telethon==1.33.1
gitpython
httpx[http2]
heroku3
hachoir
motor==3.3.2
pillow==9.5.0
psutil
pymongo==4.6.3
python-dotenv
pyyaml==6.0.1
requests
qrcode
pyrogram
tgcrypto
gpytranslate
googlesearch-python
spotipy
telegraph
speedtest-cli
unidecode
urllib3
wget
yt-dlp
bing_image_downloader
bing-image-urls
pytgcalls==1.2.2